{% load static %}
{% load links_tags %}
{% load books_tags %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<title>Справочник SDR</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href={% static "css/style.css" %} type="text/css" media="all" />
	<link rel="stylesheet" href={% static "css/jquery.jcarousel.css" %} type="text/css" media="all" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
	<![endif]-->
	<link rel="shortcut icon" href={% static "favicon.ico" %} />
	<script type="text/javascript" src={% static "js/jquery-1.4.2.min.js" %}></script>
	<script type="text/javascript" src={% static "js/jquery.jcarousel.pack.js"%}></script>
	<script type="text/javascript" src={% static "js/func.js" %}></script>
</head>
<body>
<div class="shell">
	<div class="border">
		<div id="header">
			<h1 id="logo"><a href="#" class="notext">Всё о SDR</a></h1>
			<div class="socials right">
				<ul>
				    <li><a href="#" class="rss">VK</a></li>
				    <li><a href="#" class="fb">RuTube</a></li>
				    <li class="last"><a href="#" class="twit">Rosgramm</a></li>
				</ul>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		
		<div id="navigation">
			<ul>
			    <li><a href="#" class="active">Главная</a></li>
			    <li><a href="#">Подробнее</a></li>
			    <li><a href="#">Проекты</a></li>
			    <li><a href="#">Блог</a></li>
			    <li><a href="#">Контакты</a></li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
		
		<!-- <div class="slider">
			<div class="slider-nav">
				<a href="#" class="left notext">1</a>
				<a href="#" class="left notext">2</a>
				<a href="#" class="left notext">3</a>
				<a href="#" class="left notext">4</a>
				<div class="cl">&nbsp;</div>
			</div>
			<ul>
			    <li>
			    	<div class="item">
						<div class="text">
							<h3><em>Программы для SDR</em></h3>
							<h2><em>HACKRF</em></h2>
						</div>
			    		<img src={% static "img/sdr1.webp"%} alt="" />
			    	</div>
			    </li>
			    <li>
			    	<div class="item">
						<div class="text">
							<h3><em>Перехват видео от дронов</em></h3>
							<h2><em>Борьба с дронами</em></h2>
						</div>
			    		<img src={% static "img/sdr2.jpg"%} alt="" />
			    	</div>
			    </li>
			    <li>
			    	<div class="item">
						<div class="text">
							<h3><em>Перехват управления дронами</em></h3>
							<h2><em>Борьба с дронами</em></h2>
						</div>
			    		<img src={% static "img/sdr3.jpg"%} alt="" />
			    	</div>
			    </li>
			    <li>
			    	<div class="item">
						<div class="text">
							<h3><em>Автономный полет дронов</em></h3>
							<h2><em>НЕЙРОННЫЕ СЕТИ</em></h2>
						</div>
			    		<img src={% static "img/sdr4.webp"%} alt="" />
			    	</div>
			    </li>
			</ul>
		</div> -->
		
		<div id="main">
			<div id="content" class="left">
				<div class="highlight">
					<h3>основная миссия</h3>
					<img src={% static "css/images/highlight.gif"%} alt="" class="right" />
					<p>Сайт создан для сбора и консолидаии информации, касающейся SDR, дронов, противодействию дронам, эффективности управления дронами</p>
					<a href="#" class="more">Подробнее</a>
				</div>
				
				<div class="projects">
					<h3>Статьи</h3>
					<div class="item">
						<div class="image left">
							<a href="#"><img src={% static "css/images/project01.jpg"%} alt="" /></a>
						</div>
						<div class="text left">
							<h4>simply dummy title</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is</p>
							<a href="#" class="more">Find out more</a>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
					<!--next-->
					<div class="item">
						<div class="image left">
							<a href="#"><img src={% static "css/images/project01.jpg"%} alt="" /></a>
						</div>
						<div class="text left">
							<h4>simply dummy title</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is</p>
							<a href="#" class="more">Find out more</a>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
					<!--next-->
					<div class="item">
						<div class="image left">
							<a href="#"><img src={% static "css/images/project03.jpg"%} alt="" /></a>
						</div>
						<div class="text left">
							<h4>simply dummy title</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is</p>
							<a href="#" class="more">Find out more</a>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
					<!--next-->
					<div class="item">
						<div class="image left">
							<a href="#"><img src={% static "css/images/project04.jpg"%} alt="" /></a>
						</div>
						<div class="text left">
							<h4>simply dummy title</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is</p>
							<a href="#" class="more">Find out more</a>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
			</div>
			<div id="sidebar" class="right">
				<h3>Полезные ресурсы</h3>
				<div class="sidebar-nav">
					{% show_links_menu %}
				</div>
				
				<!-- <a href="#" class="btn-buy"><em>Buy Now</em></a> -->
				
				<div class="advertisement">
					<h3>Литература</h3>
					{% show_books_icon %}
				</div>
<!-- 				
				<div class="info">
					<h3>Some Title</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of</p>
				</div> -->
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		
		<div class="shadow-l"></div>
		<div class="shadow-r"></div>
		<div class="shadow-b"></div>
	</div>
	
	<div id="footer">
		<div class="footer-nav left">
			<ul>
			    <li><a href="#">Главная</a></li>
			    <li><a href="#">О проекте</a></li>
			    <li><a href="#">Сервисы</a></li>
			    <li><a href="#">Проекты</a></li>
			    <li><a href="#">Статьи</a></li>
			    <li class="last"><a href="#">Контект</a></li>
			</ul>
		</div>
		<p class="copy right">Copyright &copy; ! Все о SDR 2024</p>
		<div class="cl">&nbsp;</div>
	</div>
</div>
</body>
</html>